.cask/
auto-save-list/
backups/
dev/
elpa/
emojis/
eshell/
request/
transient/
url/
var/
.erc-auth
.org-*
adafruit-wisdom*
bookmarks
custom.el
forge-database.sqlite
ido.last
network-security.data
projectile*
recentf
